out/
build/
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.symvers
*.lds
Module.symvers
modules.order
.module-common.o
.*.cmd
.tmp_versions/
module/META-INF/com/google/android/update-binary
module/VERSION
module/webroot/node_modules/
module/webroot/dist/
module/webroot/*.tsbuildinfo
